.sales-donut {
    width: 50%;
    background-color: white;
    padding: 20px;
    
    .apexcharts-legend {
        &-text {
            font-size: 18px !important;
            font-family: var(--font-main) !important;
        }

        &-marker {            
            width: 15px !important;
            height: 15px !important;
            margin-right: 10px !important;
            transform: translateY(2px);
        }
    }
}
