@import '../breakPoints.scss';

.app {
    background: #eee;
    box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
    padding: 3rem;

    @media only screen and (max-width: $bp-m) {
        padding: 0;
    }
}