@import '../../breakPoints.scss';

.info-box-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    grid-auto-rows: 20rem; // deals with the implicit rows
    margin: 3rem 0 8rem 0;
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-l) {
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
    }

    @media only screen and (max-width: $bp-m) {
        grid-template-columns: minmax(30rem, 1fr);
    }
}