.VictoryP path {
     transition: opacity 0.3s; /*i need to specify the opacity or else there will be a collision with the pie animation */
}

.VictoryP path:hover {
    opacity: 0.3;
}

/* .VictoryP rect ~ path:last-of-type {
    display: none;
} */

.VictoryP rect ~ text:hover:not(:first-of-type) {
    text-decoration: line-through;
    cursor: pointer;

}
.filtered {
    text-decoration: line-through;
}

.hide {
    display: none;
}