

:root {
    --color-primary-light: #58ACE3;
    --color-primary: #3498db;
    --color-primary-dark: #0F85D1;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);

    --line: 1px solid var(--color-grey-light-2);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    padding: 30px;
    font-weight: 300;
}

section {
    background: var(--color-grey-light-1);
    padding: 40px;
}

::selection {
    background: var(--color-primary);
    color: white;
}




