
   
@import './breakPoints.scss';

:root {
    --color-primary-light: #58ACE3;
    --color-primary: #3498db;
    --color-primary-dark: #0F85D1;
    --color-text: #333;

    --font-main: 'Lato', Arial, sans-serif;
}

html {
    font-size: 62.5%;   // 10px/16px = 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-xl) {
        font-size: 56.25%;  // 9/16 = 56.25%;
    }

    @media only screen and (max-width: $bp-m) {
        font-size: 50%;  
    }


}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: var(--font-main);
    padding: 3rem;
    font-weight: 300;
    color: var(--color-text);

    @media only screen and (max-width: $bp-l) {
        padding: 0;
    }
}

.heading-2 {
    font-weight: 400;
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

::selection {
    background: var(--color-primary);
    color: white;
}

text {
    fill: var(--color-text);
    font-size: 1.6rem;
}

.apexcharts-legend {
    &-text {
        font-size: 1.8rem !important;
        font-family: var(--font-main) !important;
    }

    &-marker {            
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin-right: 1rem !important;
        transform: translateY(0.2rem);
    }
}

g, circle, foreignObject, .apexcharts-canvas {
    overflow: visible !important;
}




