@import '../../../breakPoints.scss';

.customers {
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 5rem;

    @media only screen and (max-width: $bp-l) {
        display: flex;
        flex-direction: column;
    }

    .info-box {
        align-self: center;
        grid-column: 1 / span 1;

        @media only screen and (max-width: $bp-l) {
            margin: 6rem 0;
        }
    }
}